<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Create Paste</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          const textarea = $('#auto-resize-textarea');

          textarea.on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
          });

          // Инициализация размера текстового поля
          textarea.trigger('input');
        });
    </script>
    <style>
        body {
    font-family: 'Montserrat', sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            width: 400px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #auto-resize-textarea {
            overflow: hidden;
            resize: none;
        }
    </style>
</head>
<body>
    <form method="POST">
        <div class="container">
            <h1 class="class">Создание паста</h1>
        </div>
        <input type="text" name="nickname" placeholder="введите никнейм" style="width: 180px"/>
        <br>
        <textarea name="text" id="auto-resize-textarea" rows="10" cols="20" placeholder="ваш паст: ..."></textarea>
        <br>
        <div class="container">
            <input type="submit" value="Создать паст" style="width: 150px;">
        </div>
    </form>
</body>
</html>
